<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drag and drop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>716C23271EF4E08100AA4CB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>716C233F1EF4E08100AA4CB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>716C234A1EF4E08100AA4CB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
